<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><h2 class="titulo">Mis gustos</h2></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <main>
      <section>
          <div class="card-body p-5">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                    <div class="card h-100" >
                      <img src="../../assets/img/gorgona.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Medusa</h5>
                        <p class="card-text">Tengo una especie de afici&oacute;n por este personaje de la mitolog&iacute;a 
                          griega, pues en mi pensar es un personaje que es la exacta representaci&oacute;n que cada historia tiene un versi&oacute;n 
                          diferente, ella es la mala de muchas historias, sin embargo, al conocer de ella uno entiende que solo fue v&iacute;ctima del abuso
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100">
                      <img src="../../assets/img/serpiente.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Culebra negra mexicana </h5>
                        <p class="card-text">Aunque parece ser un resptil muy peligroso, o quiz&aacute; muy fea para alguna personas, sin embargo, 
                          en mi opini&oacute;n son reptiles muy hermosos y elegantes.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100">
                      <img src="../../assets/img/md.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Maravilloso desastre</h5>
                        <p class="card-text">Este fue el primer libro de romance que le&iacute;, es parte de una trilog&iacute;a de la cual este 
                          primer libro es el que m&acute;s me ha gustado, aunque pareciera un clich&eacute; de los tip&iacute;cos libros de romance, 
                          pero bastante entretenida la trama.  
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                    <div class="card h-100">
                      <img src="../../assets/img/luna.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Luna</h5>
                        <p class="card-text">Cada que veo la luna me siento con tranquilidad, me parece un s&aacute;telite muy hermoso
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100">
                      <img src="../../assets/img/pez.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Pez betta </h5>
                        <p class="card-text">Estos peces aunque son muy hermosos, son muy territoriales y cuentan con cola y colores muy elegantes.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100">
                      <img src="../../assets/img/tacon.jpeg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Botas largas</h5>
                        <p class="card-text">Soy una amante de las botas largas y de tac&oacute;n.  
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row row-cols-1 row-cols-md-3 g-4">

                  <div class="col">
                      <div class="card h-100">
                        <img src="../../assets/img/ma.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Maria de todos los angeles</h5>
                          <p class="card-text">Es un programa tanto entretenido como divertido, grandes personajes.
                          </p>
                        </div>
                      </div>
                    </div>
                  
                  <div class="col">
                    <div class="card h-100">
                      <img src="../../assets/img/dani.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Danny Famton</h5>
                        <p class="card-text">Esta caricatura es muy entretenida, cada vez que la pasan y puedo verla no dudo en hacerlo.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100">
                      <img src="../../assets/img/jimi.jpeg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Jimmy Neutron</h5>
                        <p class="card-text">Yo que&iacute;a ser &eacute;l de niña, quer&iacute;a saber tanto o m&aacute;s que &eacute;l.  
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                    <div class="card h-100">
                      <img src="../../assets/img/knd.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">KND | chicos del barrio</h5>
                        <p class="card-text">De pequeña yo quer&iacute;a ser parte de su equipo
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                      <div class="card h-100">
                        <img src="../../assets/img/ng.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Nosotros los guapos</h5>
                          <p class="card-text">El &uacute;nico progrma que veo en familia.
                          </p>
                        </div>
                      </div>
                    </div>

                  <div class="col">
                    <div class="card h-100">
                      <img src="../../assets/img/mf.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Mansi&oacute;n foster</h5>
                        <p class="card-text">Defiini&oacute; mucho de mi infancia y sobre todo las locuras de "coco".  
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                    <div class="card h-100">
                      <img src="../../assets/img/ms.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Mister bean</h5>
                        <p class="card-text">No se requieren de plabras para divertir a alguien, y &eacute;l es un gran ejemplo
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                      <div class="card h-100">
                        <img src="../../assets/img/bob.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Bob Esponja</h5>
                          <p class="card-text">Es una de las caricaturas que hasta la fecha sigo viendo ya que la he disfrutado desde niña
                          </p>
                        </div>
                      </div>
                    </div>
                  <div class="col">
                    <div class="card h-100">
                      <img src="../../assets/img/vp.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">La vaca y el pollito</h5>
                        <p class="card-text">Hoy en d&iacute;a es un programa canceado, sin embargo, las toterias de "vaquita" eran muy de ella.  
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
      </section>
  </main>
</ion-content>
