<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><h2 class="titulo">Algunas pel&iacute;culas de mi gusto son...</h2></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <main class="flex-shrink-0">
      <!-- Projects Section-->
      <section class="py-5">
          <div class="container px-5 mb-5">
              <div class="text-center mb-5">
                  <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline especial">¿Alguna movie?</span></h1>
              </div>
              <div class="row gx-5 justify-content-center">
                  <div class="col-lg-11 col-xl-9 col-xxl-8">
                      <!-- Project Card 1-->
                      <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                          <div class="card-body p-0">
                              <div class="d-flex align-items-center">
                                  <div class="p-5">
                                      <h2 class="fw-bolder especial">Apocalipto</h2>
                                      <p class="normal">Una gran trama, un excelente desenlace, una guerra entre tribus que puede atraparte y mostrarte la fuerza, 
                                          lealtad y uni&oacute;n que existe
                                      </p>
                                  </div>
                                  <img class="img-fluid peli" src="../../assets/img/mapocalipto.jpg" alt="..." height="300px"/>
                              </div>
                          </div>
                      </div>
                      <!-- Project Card 2-->
                      <div class="card overflow-hidden shadow rounded-4 border-0">
                          <div class="card-body p-0">
                              <div class="d-flex align-items-center">
                                  <div class="p-5">
                                      <h2 class="fw-bolder especial">Avatar</h2>
                                      <p class="normal">Muestra la fuerza de una tribu que quiere ser dominada por el ser humano, grandes personas con fuerza y 
                                          fiereza dispuestos a defender su mundo sin imortar el costo. 
                                      </p>
                                  </div>
                                  <img class="img-fluid peli" src="../../assets/img/mavatar.jpg" alt="..." />
                              </div>
                          </div>
                      </div>

                      <!-- Project Card 2-->
                      <div class="card overflow-hidden shadow rounded-4 border-0 espacio">
                          <div class="card-body p-0">
                              <div class="d-flex align-items-center">
                                  <div class="p-5">
                                      <h2 class="fw-bolder especial">Avatar el camino del agua</h2>
                                      <p class="normal">Nuevamente vemos a estos anvis luchar por sus vidas, por su mundo pero ahora la guerra llega a la siguiente generaci&oacute;n,
                                          Naitiry se ve entre la decisi&oacute;n de escoer entre su tribu  su familia.
                                      </p>
                                  </div>
                                  <img class="img-fluid peli" src="../../assets/img/mavatar2.jpg" alt="..." />
                              </div>
                          </div>
                      </div>

                      <!-- Project Card 2-->
                      <div class="card overflow-hidden shadow rounded-4 border-0 espacio">
                          <div class="card-body p-0">
                              <div class="d-flex align-items-center">
                                  <div class="p-5">
                                      <h2 class="fw-bolder especial">El cadaver de la novia</h2>
                                      <p class="normal">Una historia llena de ilusi&oacute;n, amor, promesas pero una trsite realidad, ese amor no correspondido,
                                          caso que muchas veces es vivido o temido dentro de nuestra adolescencia y las siguientes etapas a ellas.
                                      </p>
                                  </div>
                                  <img class="img-fluid peli" src="../../assets/img/mcadaver.jpg" alt="..." />
                              </div>
                          </div>
                      </div>

                      <!-- Project Card 2-->
                      <div class="card overflow-hidden shadow rounded-4 border-0 espacio">
                          <div class="card-body p-0">
                              <div class="d-flex align-items-center">
                                  <div class="p-5">
                                      <h2 class="fw-bolder especial">La trilog&iacute;a Maze runer</h2>
                                      <p class="normal">Ese tipo de pel&iacute;culas que te mantienen al borde del interes, la acci&oacute;n, la trama, y los giros 
                                          dentro de la vida de chicos. Desde la primera vez que la v&iacute; me qued&eacute; encntada con las escenas y el desenlace.
                                      </p>
                                  </div>
                                  <img class="img-fluid peli" src="../../assets/img/mmaze.jpg" alt="..." />
                              </div>
                          </div>
                      </div>

                      <!-- Project Card 2-->
                      <div class="card overflow-hidden shadow rounded-4 border-0 espacio">
                          <div class="card-body p-0">
                              <div class="d-flex align-items-center">
                                  <div class="p-5">
                                      <h2 class="fw-bolder especial">M&uacute;lan</h2>
                                      <p class="normal">En lo personal me encantan ambos largometrajes, muestran a una chica dispuesta a defender su honor, a su familia, una mujer
                                          guerra y temeraria.
                                      </p>
                                  </div>
                                  <img class="img-fluid peli" src="../../assets/img/mmulan.jpeg" alt="..." />
                              </div>
                          </div>
                      </div>

                      <!-- Project Card 2-->
                      <div class="card overflow-hidden shadow rounded-4 border-0 espacio">
                          <div class="card-body p-0">
                              <div class="d-flex align-items-center">
                                  <div class="p-5">
                                      <h2 class="fw-bolder especial">Saga de Piratas del Caribe</h2>
                                      <p class="normal">Amo esta saga, aunque el personaje es un borrcho perdido, conforme a la saga demuestra ser un l&iacute;der ingenioso y 
                                          aventurero con tantas tonter&iacute;s que antes de odiarlo termina agradando.
                                      </p>
                                  </div>
                                  <img class="img-fluid peli" src="../../assets/img/mpc.jpg" alt="..." />
                              </div>
                          </div>
                      </div>

                      <!-- Project Card 2-->
                      <div class="card overflow-hidden shadow rounded-4 border-0 espacio">
                          <div class="card-body p-0">
                              <div class="d-flex align-items-center">
                                  <div class="p-5">
                                      <h2 class="fw-bolder especial">Perras</h2>
                                      <p class="normal">Una historia desenvuelta en una escuela de mujeres que muestra los traumas de cada una, que apesar de ser unas, apenas 
                                          adolescentes, no indica que tengan una total inocencia. Todas y cada una de ellas comparten sus dolores y raumas siendo 
                                          enmascarados por la hipocrecia del 'estoy bien'.
                                      </p>
                                  </div>
                                  <img class="img-fluid peli" src="../../assets/img/mperras.jpg" alt="..." />
                              </div>
                          </div>
                      </div>

                      <!-- Project Card 2-->
                      <div class="card overflow-hidden shadow rounded-4 border-0 espacio">
                          <div class="card-body p-0">
                              <div class="d-flex align-items-center">
                                  <div class="p-5">
                                      <h2 class="fw-bolder especial">La princesa y el sapo</h2>
                                      <p class="normal">Es bello ver el ejemplo de una estudiante trabajadora capaz y dispuesta por luchar por sus sueños a pesar de ls criticas y 
                                          las burlas, una mujer que no se rinde y decide salir adelante y manteer fija su meta.
                                      </p>
                                  </div>
                                  <img class="img-fluid peli" src="../../assets/img/mps.jpeg" alt="..." />
                              </div>
                          </div>
                      </div>

                      <!-- Project Card 2-->
                      <div class="card overflow-hidden shadow rounded-4 border-0 espacio">
                          <div class="card-body p-0">
                              <div class="d-flex align-items-center">
                                  <div class="p-5">
                                      <h2 class="fw-bolder especial">Perfume de violetas</h2>
                                      <p class="normal">Una trama cruel, donde por m&aacute;s que quieras no podr&iacute;s querer a alg&uacute;n personaje, todos muestran su realidad
                                          pero ninguno justifica lo hecho, sin encabio, no es posible dejar de verla y terminar por analizar.
                                      </p>
                                  </div>
                                  <img class="img-fluid peli" src="../../assets/img/mpv.jpg" alt="..." />
                              </div>
                          </div>
                      </div>

                      <!-- Project Card 2-->
                      <div class="card overflow-hidden shadow rounded-4 border-0 espacio">
                          <div class="card-body p-0">
                              <div class="d-flex align-items-center">
                                  <div class="p-5">
                                      <h2 class="fw-bolder especial">Rango</h2>
                                      <p class="normal">Un personaje con el cual no pude evitar sentirme identificada en alg&uacute;n momento de mi vida, no sabe quien es ni hacia donde ir
                                          lo que s&iacute; sabe es que es &eacute;l quien se tiene que encargar de ello.
                                      </p>
                                  </div>
                                  <img class="img-fluid peli" src="../../assets/img/mrango.png" alt="..." />
                              </div>
                          </div>
                      </div>

                      <!-- Project Card 2-->
                      <div class="card overflow-hidden shadow rounded-4 border-0 espacio">
                          <div class="card-body p-0">
                              <div class="d-flex align-items-center">
                                  <div class="p-5">
                                      <h2 class="fw-bolder especial">Guerra mundial Z</h2>
                                      <p class="normal">Gran suspenso, gran trama, y la histora... desenvulve una familia que deber&Aacute; sobrevivir y encontrar la cura al virus, y sobre 
                                          quien termina por recaer en el padre de dicha familia.
                                      </p>
                                  </div>
                                  <img class="img-fluid peli" src="../../assets/img/mz.jpg" alt="..." />
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- Call to action section-->
      <section class="py-5 bg-gradient-primary-to-secondary text-white">
          <div class="container px-5 my-5">
              <div class="text-center">
                  <h4 class="display-4 fw-bolder mb-4 especial">Estas son algunas de las pel&iacute;culas que m&aacute;s me han gustado</h4>
              </div>
          </div>
      </section>
  </main>
</ion-content>
