<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><h2 class="titulo">Mis hobbies </h2></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <main class="flex-shrink-0">

      <!-- Page Content-->
      <div class="container px-5 my-5">
          <div class="text-center mb-5">
              <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline especial">¿Qu&eacute; me gusta hacer?</span></h1>
          </div>
          <div class="row gx-5 justify-content-center">
              <div class="col-lg-11 col-xl-9 col-xxl-8">
                  <!-- Experience Section-->
                  <section>
                      <!-- Experience Card 1-->
                      <div class="card shadow border-0 rounded-4 mb-5">
                          <div class="card-body p-5">
                              <div class="row align-items-center gx-5">
                                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                      <div class="bg-light p-4 rounded-4">
                                          <div class="text-primary fw-bolder mb-2 normal">Teatro</div>
                                          <div class="small fw-bolder">Realista y crudo</div>
                                      </div>
                                  </div>
                                  <div class="col-lg-8"><div>Actualmente hago teatro, no de forma profesional, pero s&iacute; como actividad
                                      recreativa. Cuando me pude ser parte del grupo me sent&iacute; muy feliz y nerviosa, sin embargo, eso 
                                      no me detuvo ni me detiene a intentarlo, pues al estar frente al p&uacute;blico los nervios me envuelven
                                      completamente, ha habido ocasiones en las que me he ovidado del texto, pero gracias a mi profesor Juan 
                                      Sienfuentes, he aprendido que eso es parte de actuar, que es necesario para conectar con los personjes. 
                                      Sinceramente, el estar en el escenario me encanta, me ayuda a librarme de todo, a distraerme, a relajarme
                                      y sobre todo a aprender a ser m&aacute;s empatica.
                                  </div></div>
                              </div>
                          </div>
                      </div>
                      <!-- Experience Card 2-->
                      <div class="card shadow border-0 rounded-4 mb-5">
                          <div class="card-body p-5">
                              <div class="row align-items-center gx-5">
                                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                      <div class="bg-light p-4 rounded-4">
                                          <div class="text-primary fw-bolder mb-2 normal">Cantar</div>
                                      </div>
                                  </div>
                                  <div class="col-lg-8"><div>Me gusta mucho cantar, no lo hago de formprofesional o recreativ pero eso no indica que no me 
                                      guste, adoro cantar, aunque se me salgan unos gallos que pareciera mataran al pobre gallo. A&uacute;n no me he animado
                                      a cantar frente a un p&uacute;blico, pero lo he hecho fren te a mis seres queridos y estando sola, Me gusta cantar.
                                  </div></div>
                              </div>
                          </div>
                      </div>

                      <div class="card shadow border-0 rounded-4 mb-5">
                          <div class="card-body p-5">
                              <div class="row align-items-center gx-5">
                                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                      <div class="bg-light p-4 rounded-4">
                                          <div class="text-primary fw-bolder mb-2 normal">Tiempo a solas</div>
                                      </div>
                                  </div>
                                  <div class="col-lg-8"><div>He escuchado m&aacute;s de una vez que pasar tiempo a solas no es bueno o hay quienes
                                      lo ven como algo muy triste, sin embargo, en lo personal, tener tiempo a solas o dedicarte un poco de tiempo a ti 
                                      mismo ayuda a estar en paz contigo, te ayuda a entenderte, te ayuda a aclarar tu mente y sobre todo a conocerte. Para m&iacute; 
                                      el pasar tiempo a solas me aqyuda a relajarme y aclarar mis ideas
                                  </div></div>
                              </div>
                          </div>
                      </div>

                      <div class="card shadow border-0 rounded-4 mb-5">
                          <div class="card-body p-5">
                              <div class="row align-items-center gx-5">
                                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                      <div class="bg-light p-4 rounded-4">
                                          <div class="text-primary fw-bolder mb-2 normal">Tiempo con mi mejor amiga</div>
                                          <div class="small fw-bolder">Esposas</div>
                                      </div>
                                  </div>
                                  <div class="col-lg-8"><div>Esta mujer de la cual hablar&Eacute; es alguien a quien le tengo demasiado cariño debido
                                      a que me ha acompañado durante momentos muy dif&iacute;ciles para m&iacute;, asimismo, me ha regañado y ha compartido
                                      momentos tanto fuertes como felices conmigo, no hay nada que no comparta, y aunque hace un instante dije que me gusta pasar
                                      tiempo sola, no quiere decir que solo lo pase as&iacute; pues tambi&eacute;n s&eacute;pasar momentos de calidad con amistades y 
                                      seres queridos, tal como es con mi mejor amiga, mi esposa. Es una mujer que admiro pues a su corta edad ha pasado cosas fuertes, ha
                                      tenido que seguir y a&uacute;nque la visto romperse, jamas la he visto rendirse y s&eacute; no ser&aacute; as&iacute; ya que ambas
                                      nos tenemos una a la otra.
                                  </div></div>
                              </div>
                          </div>
                      </div>

                      <div class="card shadow border-0 rounded-4 mb-5">
                          <div class="card-body p-5">
                              <div class="row align-items-center gx-5">
                                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                      <div class="bg-light p-4 rounded-4">
                                          <div class="text-primary fw-bolder mb-2 normal">Tiempo con mi novio</div>
                                          <div class="small fw-bolder">Hacer maldades</div>
                                      </div>
                                  </div>
                                  <div class="col-lg-8"><div>Ricardo No&eacute; Garc&iacute;a Manriquez, al&iacute;as "el fifas". Este hombre... No llevo
                                      mucho tiempo conociendolo, no lo conozco de toda la vida, pero s&eacute; que lo que conozco, o al menos lo que conozco, lo admiro, &eacute;l 
                                      me ha ayudado a entender que vale la pena seguir un poco m&aacute;s, que hay m&aacute;s mundo ah&iacute; afuera, que no todo lo 
                                      que he conocido es lo &uacute;nico que conocer&eacute; en mi vida, me ha regresado las ganas de conocer. Es alguien con quien 
                                      cada momento que paso se vuelve memorable. S&iacute;, dije que me gusta pasar tiempo sola, pero hay personas que son tanto que 
                                      se vuelve agradable su compañ&iacute;a sin que abrume su ausencia, hay gente que te hace sentir con tanta paz como tu soledad y &eacute;l 
                                      sin duda es una de esas personas, que aunque yo quisiera pasar tiempo a solas no me molesta que me acompañe en mi soledad.
                                  </div></div>
                              </div>
                          </div>
                      </div>

                      <div class="card shadow border-0 rounded-4 mb-5">
                          <div class="card-body p-5">
                              <div class="row align-items-center gx-5">
                                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                      <div class="bg-light p-4 rounded-4">
                                          <div class="text-primary fw-bolder mb-2 normal">Escribir</div>
                                      </div>
                                  </div>
                                  <div class="col-lg-8"><div>Amo totalmente escribir, aunque lo que escribo no es muy dulce que digamos, en realidad tiendo
                                      a tocar temas un tanto fuertes, ¿por qu&eacute;?... porque sigo trbajando en m&iacute;. Actualamente he escrito 4 textos, una 
                                      contestaci&oacute;n a un poeta, un mon&oacute;ogo propio, un libro muy pequeño para una actividad, y un texto en colaboraci&oacute;n 
                                      con mi profesor de teatro, para una actividad precisamente. En este momento tengo 4 libros en pausa, a los cuales no les he dado seguimiento
                                      por falta de tiempo o de inspiraci&oacute;n. <br><br>¿Una meta en mente? publcar alg&uacute;n libro.
                                  </div></div>
                              </div>
                          </div>

                      </div>   <div class="card shadow border-0 rounded-4 mb-5">
                          <div class="card-body p-5">
                              <div class="row align-items-center gx-5">
                                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                      <div class="bg-light p-4 rounded-4">
                                          <div class="text-primary fw-bolder mb-2 normal">Caminar</div>
                                      </div>
                                  </div>
                                  <div class="col-lg-8"><div>Caminar es un gran ejercicio, pero yo no lo hago por ello, si no por que ayuda mucho a 
                                      despejarse. Prefiero hacero en parque arboleados
                                  </div></div>
                              </div>
                          </div>
                      </div>

                      <div class="card shadow border-0 rounded-4 mb-5">
                          <div class="card-body p-5">
                              <div class="row align-items-center gx-5">
                                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                      <div class="bg-light p-4 rounded-4">
                                          <div class="text-primary fw-bolder mb-2 normal">Bailar</div>
                                      </div>
                                  </div>
                                  <div class="col-lg-8"><div>Me gusta mucho bailar, me ayuda a activarme, y s&iacute; este deporte s&iacute; lo he 
                                      hecho como actividad escolar, no dentro de la uni, pero s&iacute; en la prepa y lo amaba, a&uacute;n lo amo pero 
                                      quiero intentar cosas nuevas.
                                  </div></div>
                              </div>
                          </div>
                      </div>

                      <div class="card shadow border-0 rounded-4 mb-5">
                          <div class="card-body p-5">
                              <div class="row align-items-center gx-5">
                                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                      <div class="bg-light p-4 rounded-4">
                                          <div class="text-primary fw-bolder mb-2 normal">Diseñar p&aacute;ginas</div>
                                      </div>
                                  </div>
                                  <div class="col-lg-8"><div>Aunque solo lo hago par la universidad, sin duda alguna, es lo que m&aacute;s me gusta 
                                      hacer, quiz&Aacute; sea &uacute;nico dentro de la carrera, pero me encanta echar a volar mi imaginaci&oacute;n 
                                      y ver los resutados de ello.
                                  </div></div>
                              </div>
                          </div>
                      </div>

                      <div class="card shadow border-0 rounded-4 mb-5">
                          <div class="card-body p-5">
                              <div class="row align-items-center gx-5">
                                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                      <div class="bg-light p-4 rounded-4">
                                          <div class="text-primary fw-bolder mb-2 normal">Tejer</div>
                                      </div>
                                  </div>
                                  <div class="col-lg-8"><div>Hace unos meses descubr&iacute; que <b>ADORO TEJER</b> aprend&iacute; a hacerlo en una 
                                      semana o semana y media, y desde entonces no me detuve hasta ahora por la falta de tiempo, pero eso no quita que me 
                                      guste tanto hacerlo, cada que puedo y estoy de humor lo hago. Regularmente hago las cosas cuando me da la gana, es decir, 
                                      estoy de humor, y no me forzo a hacerlo porque de lo dontrario sola me echar&eacute; a perder mi pasatiempo, como lo hice 
                                      con el dibujo. 
                                  </div></div>
                              </div>
                          </div>
                      </div>

                      <div class="card shadow border-0 rounded-4 mb-5">
                          <div class="card-body p-5">
                              <div class="row align-items-center gx-5">
                                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                      <div class="bg-light p-4 rounded-4">
                                          <div class="text-primary fw-bolder mb-2 normal">Ver movies</div>
                                          <div class="small fw-bolder">Terror m&aacute;s que nada</div>
                                      </div>
                                  </div>
                                  <div class="col-lg-8"><div>Cuando estoy estresada o para disfrutar de mi tiempo libre, veo pel&iacute;culas, 
                                      de terror m&aacute;s que nada, la sensaci&oacute;n de terror me ayuda a olvidarme s&iacute; o s&iacute; de 
                                      todo.
                                  </div></div>
                              </div>
                          </div>
                      </div>
                  </section>
                  <!-- Education Section-->
                  
                  <!-- Divider-->
                  <div class="pb-5"></div>
                  <!-- Skills Section-->
                  <section>
                      <!-- Skillset Card-->
                      <div class="card shadow border-0 rounded-4 mb-5">
                          <div class="card-body p-5">
                              <!-- Professional skills list-->
                              <div class="mb-5">
                                  <div class=" align-items-center mb-4">
                                      <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline especial ">¿Menciones especiales?</span></h3>
                                      <br>
                                      <h6> Antes pensaba que solo pod&iacute;s admirar a una 
                                          persona, luego entend&iacute; que se puede admirar algo de todos, maravillarte de ver ese algo en esa persona 
                                          constantemente
                                      </h6>
                                  </div>
                                  <div class="row row-cols-1 row-cols-md-3 mb-4">
                                      <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100 text-gradient"><b>Mi madre</b></div></div>
                                      <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100 text-gradient"><b>Mi profe Juan, de teatro</b></div></div>
                                      <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100 text-gradient"><b>Mi t&iacute;a</b></div></div>
                                  </div>
                                  <div class="row row-cols-1 row-cols-md-3">
                                      <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Con quien aunque no tenga la 
                                          mejor relaci&oacute;n, me impreciona la fuerza que tiene para seguir
                                      </div></div>
                                      <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Quien constantemente demuestra que no
                                          debemos temer a ser humanos y que est&aacute; bien estar mal.
                                      </div></div>
                                      <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Quien no le teme a vivir</div></div>
                                  </div>
                              </div>
                              <div class="mb-5">
                                  <div class="row row-cols-1 row-cols-md-3 mb-4">
                                      <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100 text-gradient"><b>Mi maestra, Elixena</b></div></div>
                                      <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100 text-gradient"><b>Mi mejor amiga</b></div></div>
                                      <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100 text-gradient"><b>Mi novio</b></div></div>
                                  </div>
                                  <div class="row row-cols-1 row-cols-md-3">
                                      <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Quien lleg&oacute; a mi vida en el mundo justo para 
                                          que no me rindiera, alguien que ayuda al otro sin cerrarse a ello
                                      </div></div>
                                      <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Quien es fuerte y no se rinde ante lo que tiene que hacer
                                      </div></div>
                                      <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Quien me demuestra cada d&iacute;a que hay m&aacute;s mundo</div></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </section>
              </div>
          </div>
      </div>
  </main>
</ion-content>
